<%- include('includes/head') %>

<h1>About us</h1>
<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed vel est gravida purus volutpat vehicula. 
        Morbi aliquet magna sit amet ipsum varius, in vestibulum risus blandit. 
        Sed sollicitudin elit massa, vitae pharetra dui lobortis ac. 
        Quisque eget volutpat odio. Nam nec gravida metus. 
        Integer ante lorem, sollicitudin a lacus sed, volutpat cursus nisl. 
        Nam eu facilisis elit. Quisque risus turpis, commodo sed pulvinar vel, dapibus in sem. 
        In rutrum neque a pulvinar accumsan. 
        Mauris eget nisl mollis nunc volutpat fringilla sit amet non sem. 
        Curabitur vel elit nec odio scelerisque dapibus vitae in nisl. 
        Quisque metus dolor, accumsan quis lacinia sit amet, dictum sit amet felis. 
        Cras molestie elementum orci, ac placerat sapien aliquet eget. 
        Curabitur risus est, accumsan vitae venenatis at, bibendum in odio. 
        Cras ut nibh auctor, placerat velit non, laoreet elit.
    </p>

<%- include('includes/footer') %>
  